.board {
  background-color: #101111;
}

.welcome-label {
  font-family: Poppins;
}

.login-description {
  color: var(--text-g-6, #8c8c8c);
  font-family: Poppins;
}

.whitepaper-button {
  background: var(--status-positive, #66e094);
}

.whitepaper-description {
  color: var(--text-g-6, #8c8c8c);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  color: var(--text-g-6, #8c8c8c);
  text-align: center;

  /* 14px/Reg */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
